<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills. Python is one of the
  best first programming languages to learn because new practitioners
  can quickly learn the skills necessary to perform
  highly useful tasks such as data processing, analysis, and plotting.
  For this reason among others, Python is one of the most highly recommended
  first languages for data scientists.
</p>

<p>
  Bash is another essential component of most data scientist toolkits.
  It is a general purpose tool that makes it easy to manipulate the files on your
  computer by enabling you to reorganize, split, or combine files, or run the same
  operation on many files.
  <!-- For example, with Bash it is simple to automate running a Python program on many different files, or to combine many files across many folders into a single large file. -->
  <!-- Git is the most popular version-control software and the saviour of many theses
  and research projects. It enables you to save snapshots of a project at different points in time, backup the project on a cloud service like GitHub in case of
  a computer failure, and even collaborate on the project with other researchers. -->
</p>

<p>
  The instructors seek to provide all participants with a fun and accessible learning environment.
  Participants will be encouraged to help one another and to apply what they have learned to their own research problems.
</p>

<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
